[submodule "mithril_client"]
	path = mithril_client
	url = ssh://git@85.214.134.190:18521/~/frontend/gradido_mithrilJS_client
[submodule "src/protobuf"]
	path = src/protobuf
	url =  ssh://git@85.214.134.190:18521/~/gradido_protocol
